
<div class="navbar mb-3">
    <div class="container-xl">
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href=".">
                <img src="tabler/static/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
            </a>
        </h1>
        <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item d-none d-md-flex me-3">
                <div class="btn-list">
                    <a class="btn btn-primary" asp-action="Signup" asp-controller="Account">Sign Up</a>
                    <a class="btn btn-outline-primary" asp-action="Login" asp-controller="Account">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

