@using Microsoft.AspNetCore.Mvc.TagHelpers
@section Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        #start-btn {
            background-color: rgb(113,30,96);
        }

            #start-btn:hover {
                background-color: white;
                border: 1px solid rgb(113,30,96);
                border-radius: 2px;
                color: rgb(113,30,96);
            }

        .question-header {
            background: linear-gradient(to right, rgb(113, 30, 96), rgb(32, 119, 187));
        }

        .custom-option {
            padding: 0.5rem;
            border: 1px solid transparent;
            border-radius: 0.25rem;
            transition: border-color 0.3s ease, padding 0.3s ease;
            cursor: pointer;
        }

        .option-custom {
            transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
        }

            .option-custom:hover {
                transform: scale(1.05);
                opacity: 1 !important;
                border-color: rgb(113, 30, 96) !important;
            }

        .custom-option.selected {
            border-color: blue;
        }
    </style>
}

<div class="modal fade" id="startModal" tabindex="-1" aria-labelledby="startModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="startModalLabel">Welcome!</h5>
            </div>
            <div class="modal-body">
                <h1>Start the test!!</h1>
                <button id="start-btn" class="btn btn-primary ">Start</button>
            </div>
        </div>
    </div>
</div>

<div class="container my-3 justify-content-between align-items-center d-none" id="mainContent">

    <div class="row">
        <div class="col-md-8 col-lg-9 question-header p-3 rounded flex-md-row flex-column mb-md-0 mb-3  mx-auto">
            <h1 class="m-3 fs-1 text-white">Answer all the questions</h1>
        </div>
    </div>

    <hr class="col-md-8 col-lg-9  mx-auto" />

    <div class="row">
        <div class="col-md-8 col-md-9 mx-auto">
            <form method="post" action="/YourController/YourAction">
                @{
                    <div id="question" class="question mb-3 border border-2 rounded rounded-2 border-custom p-3 d-block shadow" )>
                        <div class="border-bottom border-1 border-danger d-flex justify-content-between align-items-center ">
                            <div class="">
                                <span><i class="fa-regular fa-circle-question"></i></span>
                                <h4 class="d-inline-block fs-3 ">Sample question : What's your name?</h4>
                            </div>
                            <div>
                                <h4 class="fs-4 text-muted">Time: <span id="stopwatch" class="text-danger">1:00</span></h4>
                            </div>
                        </div>
                        <div class="row p-2 justify-content-center">
                            @{
                                for (int i = 0; i < 5; i++)
                                {
                                    <div class="col-md-5 col-sm-6 p-1 mx-1 my-1 option-custom border border-2 rounded-2 opacity-75">
                                        <div class="form-check d-flex align-items-center">
                                            <input class="form-check-input mx-2 p-2 text-dark" type="radio" name="question" id="option@(i)">
                                            <label class="form-check-label custom-option fs-3" for="option@(i)">
                                                Option @(i + 1)
                                            </label>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="col-md-5 col-sm-6 p-1 mx-1 my-1 option-custom border border-2 rounded-2 opacity-75">
                                <div class="form-check d-flex align-items-center">
                                    <input class="form-check-input mx-2 p-2 text-dark" type="radio" name="question" id="option">
                                    <label class="form-check-label custom-option fs-3" for="option">
                                        <img src="~/images/userPicture.png" class="img-fluid" style="width: 75px; height: auto;" />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-column m-2 flex-md-row justify-content-md-end">
                        <button type="submit" class="btn btn-primary w-25 w-md-auto p-3">Next</button>
                    </div>
                }
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://kit.fontawesome.com/3ae1ad0474.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            let timeText = $("#stopwatch").text();
            let [minutes, seconds] = timeText.split(":");
            minutes = parseInt(minutes);
            seconds = parseInt(seconds);
            let intervalId;

            function updateTimeDisplay() {
                let formattedTime = (minutes < 10 ? "0" + minutes : minutes) + ":" +
                    (seconds < 10 ? "0" + seconds : seconds);
                $("#stopwatch").text(formattedTime);
            }

            function startTimer() {
                intervalId = setInterval(function () {
                    if (seconds === 0 && minutes === 0) {
                        clearInterval(intervalId);
                    } else if (seconds === 0) {
                        minutes--;
                        seconds = 59;
                    } else {
                        seconds--;
                    }
                    updateTimeDisplay();
                }, 1000);
            }

            updateTimeDisplay();

            $("#start-btn").click(function () {
                $("#startModal").modal('hide');
                $("#mainContent").removeClass('d-none');
                startTimer();
            });

            $("#startModal").modal('show');
        });
    </script>
}
