@{
    ViewData["Title"] = "Result";
}

@section Styles
{
    <link href="~/css/QuizResult.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="content col-md-7">
            <div class="card">
                <div class="header text-center">
                    <h1 style="font-size: 2em;">Score Report</h1>
                    <h2 class="mb-1"> Full Stack Asp.net Core MVC Web Development - B9</h2>
                    <h3 class="mb-3">Regular Class Test</h3>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <div class="row">
                            <div class="container text-center">
                            </div>
                            <div class="col-md-6">
                                <p class="mb-1"><strong>Name</strong></p>
                                <p>MD. SALMAN NUR</p>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-1"><strong>Your Score</strong></p>
                                <p style="color:#f76707;"><strong>⭐ 15 / 20</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="mb-1"><strong>Email</strong></p>
                                <p>salman.installer@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
