@{
    ViewData["Title"] = "Start";
}

@section Styles
{
    <link href="~/css/QuizStart.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="content col-md-8">
            <div class="card mt-5">
                <div class="header p-3 gradient-background mb-0">
                    <h1 style="font-size: 1.5em;">Hello, Salman Nur</h1>
                    <h7 class="instruction-text">We're excited to have you take part in this exam. Below are some important instructions to ensure a smooth and successful experience.</h7>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <h3>⭐Exam Details</h3>
                        <ul class="text-left mb-4">
                            <li>Number of questions : 10</li>
                            <li>Score : 10</li>
                            <li>Time : 10 minutes</li>
                        </ul>
                        <h3>⭐Before starting the exam</h3>
                        <ul class="text-left mb-4">
                            <li>Make sure that you have a good internet connection.</li>
                            <li>If you run out of time your answers will automatically be submitted for scoring.</li>
                        </ul>
                        <p><strong>⭐ When you're ready, press the Start Exam button and the timer will begin</strong>.</p>
                        <p><strong>All the best! ❤️</strong></p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-2">
                <form asp-action="" asp-controller="">
                    <button type="submit" class="btn-submit"><strong>Back</strong></button>
                </form>
                <form asp-action="Result" asp-controller="Quiz">
                    <button type="submit" class="btn-submit"><strong>START EXAM</strong></button>
                </form>
            </div>

        </div>
    </div>
</div>
