<div class="input-group input-group-flat">
  <input
    #passwordInputElem
    (blur)="onBlur()"
    (input)="onPasswordChange(passwordInputElem)"
    [disabled]="disabled"
    [ngClass]="{ 'form-is-invalid': isInErrorState }"
    [placeholder]="placeholderText"
    [value]="password"
    autocomplete="off"
    class="form-control"
    [id]="idValue"
    type="password" />
  <span [ngClass]="{ 'form-is-invalid': isInErrorState }" class="input-group-text">
    <button
      (click)="togglePasswordVisibility($event, passwordInputElem)"
      [ngStyle]="{
        background: 'none',
        border: 'none',
        padding: 0,
        cursor: 'pointer'
      }"
      class="toggle-password-visibility">
      <span>
        @if (isPasswordVisible) {
          <i class="ti ti-eye icon"></i>
        } @else {
          <i class="ti ti-eye-off icon"></i>
        }
      </span>
    </button>
  </span>
</div>
