<div class="d-flex justify-content-center flex-column min-vh-100">
  <div class="container-tight">
    <div class="empty">
      <div class="empty-header">STOP!</div>
      <p class="empty-title">You are already authenticated</p>
      <p class="empty-subtitle text-secondary">
        The page you are looking for is only for unauthenticated users
      </p>
      <div class="empty-action">
        <a class="btn btn-primary" [routerLink]="$$absoluteRoutes().DASHBOARD">Take me home</a>
      </div>
    </div>
  </div>
</div>
