.message-success {
  color: white;
  background-color: green;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.message-error {
  color: white;
  background-color: red;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.tag-manager-card {
  width: 80%;
  margin: 32px auto;
  padding: 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tag-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.tag-form-field {
  margin-bottom: 16px;
}

.form-buttons {
  display: flex;
  gap: 8px;
}

#tagName {
  height: 36px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 16px;
}

.tag-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: #f1f1f1;
  border-radius: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: calc(100% - 16px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;

  &:hover {
    background-color: #e0e0e0;
  }
}

.tag-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.tag-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 8px;
}

.tag-buttons {
  display: flex;
  gap: 8px;
}

button.btn-sm {
  width: 36px;
  height: 36px;
  font-size: 12px;
}

.card-title {
  padding: 16px 0;
}

.form-control {
  height: 30px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.page-size-select {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.page-size-select label {
  text-align: center;
  padding: 5px;
  font-size: small;
}

#pageSize {
  padding: 5px;
}

.ngb-pagination .page-item.active .page-link {
  background-color: #007bff; 
  border-color: #007bff;
  color: #fff; 
}

.ngb-pagination .page-item .page-link {
  color: #007bff; 
}

.ngb-pagination .page-item .page-link:hover {
  color: #0056b3; 
}

.ngb-pagination .page-item.active .page-link:focus,
.ngb-pagination .page-item.active .page-link:hover {
  background-color: #0056b3; 
  border-color: #0056b3;
}
