<div class="d-flex justify-content-center flex-column min-vh-100">
  <div class="container container-tight">
    <div class="card card-md">
      <div class="card-body">
        <h2 class="h2 text-center mb-4">Reset Password</h2>
        @if ($serverSideErrors().length > 0) {
          <div class="row my-3">
            <div class="col">
              <div class="card">
                <div class="card-status-top bg-danger"></div>
                <div class="card-body">
                  <ul class="text-danger validation-error-summaries">
                    @for (err of $serverSideErrors(); track $index) {
                      <li>{{ err }}</li>
                    }
                  </ul>
                </div>
              </div>
            </div>
          </div>
        }
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
          <div class="mb-3">
            <label [for]="'email'" class="form-label required">Email address</label>
            <input
              [formControl]="email"
              ngxBootstrapInput
              idValue="email"
              [autoCompleteValue]="false"
              typeValue="email"
              placeholderValue="Enter email"
              [isInInvalidStateValue]="reactiveFormUtils.showValidationErrorBorder(email)" />
            @if (reactiveFormUtils.hasValidationError(email)) {
              <small class="text-danger fw-medium">
                <div *ngIf="email.hasError('required')">Email is required.</div>
                <div *ngIf="email.hasError('email')">Email must be valid.</div>
              </small>
            }
          </div>

          <div class="mb-3">
            <label class="form-label required" [for]="'password'">New Password</label>
            <bootstrap-password-input
              [formControl]="password"
              [isInErrorState]="reactiveFormUtils.hasValidationError(password)"
              idValue="password" />
            @if (reactiveFormUtils.hasValidationError(password)) {
              <small class="text-danger fw-medium">
                <div *ngIf="password.hasError('required')">Password is required.</div>
                <div *ngIf="password.hasError('maxlength')">Password should be smaller.</div>
                <div *ngIf="password.hasError('minlength')">Password is too short.</div>
              </small>
            }
          </div>

          <div class="mb-3">
            <label class="form-label required" [for]="'confirm-password'">
              Confirm New Password
            </label>
            <bootstrap-password-input
              [formControl]="confirmPassword"
              [isInErrorState]="reactiveFormUtils.hasValidationError(confirmPassword)"
              idValue="confirm-password" />
            @if (reactiveFormUtils.hasValidationError(confirmPassword)) {
              <small class="text-danger fw-medium">
                <div *ngIf="confirmPassword.hasError('required')">
                  Confirm Password is required.
                </div>
              </small>
            } @else if (confirmPassword.valid && !resetPasswordForm.valid) {
              <small class="text-danger fw-medium">
                <div *ngIf="resetPasswordForm.hasError('hasIdenticalPassword')">
                  Confirm Password not matched.
                </div>
              </small>
            }
          </div>

          <div class="mb-3">
            <label class="form-label required" [for]="'code'">Verification code</label>
            <input
              [formControl]="code"
              ngxBootstrapInput
              placeholderValue="Enter code"
              idValue="fullName"
              typeValue="text"
              [autoCompleteValue]="false"
              [isInInvalidStateValue]="reactiveFormUtils.hasValidationError(code)" />
            @if (reactiveFormUtils.hasValidationError(code)) {
              <small class="text-danger fw-medium">
                <div *ngIf="code.hasError('required')">Verification code is required.</div>
              </small>
            }
          </div>

          <div class="form-footer">
            <button
              [disabled]="reactiveFormUtils.disableFormSubmission(resetPasswordForm)"
              class="btn btn-primary w-100"
              type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
