.purple-100 {
    background-color: #f3e8ff;
}

.blue-100 {
    background-color: #ebf8ff;
}

.green-100 {
    background-color: #d1fae5;
}

.cyan-100 {
    background-color: #a0d8ef;
}

.gray-200 {
    background-color: #e5e7eb;
}
