<div class="d-flex justify-content-center flex-column min-vh-100">
  <div class="container container-tight">
    <div class="card card-md">
      <div class="card-body">
        <h2 class="h2 text-center mb-4">Forgot Password</h2>
        @if ($serverSideErrors().length > 0) {
          <div class="row my-3">
            <div class="col">
              <div class="card">
                <div class="card-status-top bg-danger"></div>
                <div class="card-body">
                  <ul class="text-danger validation-error-summaries">
                    @for (err of $serverSideErrors(); track $index) {
                      <li>{{ err }}</li>
                    }
                  </ul>
                </div>
              </div>
            </div>
          </div>
        }
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
          <div class="mb-3">
            <label [for]="'email'" class="form-label required">Email address</label>
            <input
              [formControl]="email"
              ngxBootstrapInput
              idValue="email"
              [autoCompleteValue]="false"
              typeValue="email"
              placeholderValue="Enter email"
              [isInInvalidStateValue]="reactiveFormUtils.hasValidationError(email)" />
            @if (reactiveFormUtils.hasValidationError(email)) {
              <small class="text-danger fw-medium">
                <div *ngIf="email.hasError('required')">Email is required.</div>
                <div *ngIf="email.hasError('email')">Email must be valid.</div>
              </small>
            }
          </div>
          <div class="form-footer">
            <button
              [disabled]="reactiveFormUtils.disableFormSubmission(forgotPasswordForm)"
              class="btn btn-primary w-100"
              type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
